* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, sans-serif, Apple Color Emoji, Segoe UI Emoji,
    Segoe UI Symbol, Noto Color Emoji;
  list-style-type: none;
}

header {
  background-image: url(./img/Bg\ Header.png);
  min-height: 100vh;
  background-size: cover;
  background-position: center;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.center {
  text-align: center;
  margin: 0 auto;
  color: white;
}

header h1 {
  font-size: 6rem;
}

.flex {
  padding-top: 40px;
}

header h2 {
  font-size: 1.5rem;
  color: #63a3fa;
  font-weight: normal;
}

header p {
  padding-top: 30px;
  color: #9ca3af;
}

header ul {
  display: flex;
  padding: 30px 100px;
  color: #d1d5db;
  margin-bottom: 10px;
}

header li {
  padding: 10px 3%;
  margin-right: 20px;
  border: 1px solid #2b3139;
  background-color: #1a1f2b;
  border-radius: 90px;
}

header a {
  font-size: 0.875rem;
  text-decoration: none;
  color: #f9fafa;
  padding: 2% 3%;
  margin-right: 10px;
  border: 1px solid #4b5563;
  background-color: #2d333b;
  border-radius: 90px;
}

#view {
  background-color: #161b22;
}

#animation {
  align-items: center;
  color: #9ca3af;

  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);

  display: flex;
  flex-direction: column;
  align-items: center;
  animation: bounce 1.5s infinite;
}

#arrow {
  font-size: 1.5rem;
}

section {
  background-color: #161b22;
  color: #ffffff;
  text-align: center;
}

section h2,
footer h2 {
  padding-top: 80px;
  font-size: 1.875rem;
}

.cont {
  display: flex;
  justify-content: space-around;
  text-align: left;
}

.container {
  display: flex;
  flex-direction: column;
  background-color: #21262d;
  margin-top: 80px;
  width: 50vh;
  border-radius: 10px;
}

.container:hover {
  scale: 1.02;
}

.container h3 {
  margin-top: 20px;
  margin-left: 15px;
}

.container ul {
  text-align: left;
  margin-top: 20px;
  padding: 0 15px 15px 15px;
}

.container li {
  margin-top: 15px;
}

.skill-info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
  color: #d1d5db;
}

.bar-background {
  width: 100%;
  height: 8px;
  background-color: #1a1f2b;
  border-radius: 4px;
  overflow: hidden;
  border: 1px solid #2b3139;
}

.bar-fill {
  height: 100%;
  background-color: #63a3fa;
  border-radius: 4px;
}

.bar-level-0 {
  width: 0;
}

.bar-level-1 {
  width: 15%;
}

.bar-level-2 {
  width: 30%;
}
.bar-level-3 {
  width: 60%;
}
.bar-level-4 {
  width: 90%;
}

.container.backend .bar-fill {
  background-color: #34d399;
}
.container.ecosystem .bar-fill {
  background-color: #c084fc;
}

.projet,
.moi {
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;

  justify-content: center;
  align-content: center;
  justify-items: center;

  width: 950px;
  margin: 80px auto;
  margin-bottom: 0px;
  padding-bottom: 80px;
}

article {
  border: 1px solid #2b3139;
  background-color: #21262d;
  border-radius: 20px;
  text-align: left;
  padding: 20px;
  width: 100%;
  max-width: 450px;
}

.projet article img {
  width: 100%; /* ToDo essayer avec 200px */
  height: auto;
  border-radius: 10px;
  margin: 10px 0;
}

.projet article p {
  width: 90%;
  color: #9ca3af;
}

article ul {
  display: flex;
  flex-wrap: wrap;
  margin: 10px 0;
  gap: 10px;
}

.projet article li {
  padding: 10px 3%;
  margin-right: 20px;
  margin-bottom: 15px;
  border: 1px solid #2b3139;
  background-color: #1a1f2b;
  border-radius: 90px;
}

.projet article a {
  display: inline-block;
  font-size: 0.8rem;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 90px;

  color: #f9fafa;
  background: transparent;
  border: 2px solid #00bfff;
  box-shadow: 0 0 10px rgba(0, 191, 255, 0.7), 0 0 20px rgba(0, 191, 255, 0.5);
  transition: all 0.3s ease;
}

.projet article a:hover {
  background-color: #00bfff;
  color: #ffffff;
  box-shadow: 0 0 15px rgba(0, 191, 255, 1), 0 0 30px rgba(0, 191, 255, 0.7);
  transform: translateY(-2px);
}

#moi {
  background-color: #0d1117;
}

.moi-card-border {
  padding: 2px;
  background: linear-gradient(120deg, #63a3fa, #c084fc);
  border-radius: 20px;
  box-shadow: 0 0 15px rgba(99, 163, 250, 0.1),
    0 0 25px rgba(192, 132, 252, 0.05);
  display: flex;
}

#moi article {
  padding: 25px;
  border: none;
  border-radius: 18px;
  flex-grow: 1;
}

.moi {
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, auto);
}

.moi ul {
  padding-left: 20px;
}

.moi li {
  list-style-type: disc;
  border: none;
  background-color: #21262d;
  color: #9ca3af;
  line-height: 1.5;
}

footer {
  background-color: #2b3139;
  text-align: center;
}

footer h2,
footer label,
.btn {
  color: #f9fafa;
}

footer p {
  padding: 2em 0;
  color: #9ca3af;
}

footer form {
  padding-bottom: 5em;
}

footer label {
  padding-top: 20px;
}

footer input {
  display: block;
  margin: 0 auto;
  background-color: #1f2937;
  padding: 1em 0;
  border-radius: 10px;
  width: 40%;
  margin-bottom: 2em;
  margin-top: 5px;
}

footer #message {
  padding: 4em 0;
}

footer .btn {
  width: 40%;
  padding: 1em 0;
  background: linear-gradient(120deg, #63a3fa, #c084fc);
  border: none;
  border-radius: 10px;
  font-size: 1rem;
}

footer ul {
  display: flex;
  justify-content: center;
  gap: 5em;
  padding-bottom: 2em;
}

footer ul i {
  color: #f9fafa;
}

/* bg color #0D1117 */

/* article a {
  color: #00a2ff;
  border: 1px solid #00a2ff;
  background: transparent;
  padding: 6px 14px;
  border-radius: 20px;
  text-decoration: none;
  transition: all 0.3s ease;
}

article a:hover {
  background-color: #00a2ff;
  color: white;
  box-shadow: 0 0 15px #00a2ff;
} */

@keyframes bounce {
  0%,
  100% {
    transform: translateX(-50%) translateY(0);
  }
  50% {
    transform: translateX(-50%) translateY(8px);
  }
}

/* ToDo faire le svg pour mon nom prénom */
/* todo faire un svg pour le bouton voir mon travail aussi */
/* todo faire l'effet sur le bords des cartes des projets -> gemini + essayer de faire avec :hover un truc qui fait bouger les éclats de blancs*/
